.bg-white {
  background-color: #fff !important;
}
.p-0 {
  padding: 0 !important;
}
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}
*, *::before, *::after {
  box-sizing: border-box;
}
user agent stylesheet
div {
  display: block;
}

:root {
  --primary: #00B074;
  --secondary: #2B9BFF;
  --light: #EFFDF5;
  --dark: #2B3940;
}
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #00B074;
  --bs-secondary: #2B9BFF;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #EFFDF5;
  --bs-dark: #2B3940;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255,255,255,0.15), rgba(255,255,255,0));
}
*, *::before, *::after {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.navbar-light.sticky-top {
  top: -100px;
  transition: .5s;
}
.bg-white {
  background-color: #fff !important;
}
.p-0 {
  padding: 0 !important;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15) !important;
}
.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
*, *::before, *::after {
  box-sizing: border-box;
}
user agent stylesheet
nav {
  display: block;
}
body {
  margin: 0;
  font-family: "Heebo",sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666565;
  background-color: #EFFDF5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,0.55);
  border-color: rgba(0,0,0,0.1);
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}
.me-4 {
  margin-right: 1.5rem !important;
}
.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: box-shadow 0.15s ease-in-out;
}
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  border-radius: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
